
header {
    padding-top: 3%;
    width: 70%;
    margin-left: 18.7%;
}

header a{
    padding-right: 4.4%;
    font-family: 'Courier New', Courier, monospace;    
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 187, 124);
}

.lastlink{
    padding-right: 2%;
}

header img{
    padding-right: 9.5%;
    width: 38%;
    cap
}

.icon{
    padding-left: 0%;
    padding-right: 0.7%;
    height: 25px;
    width: 25px;
}

header div{
    padding-top: 4%;
    padding-bottom: 5.8%;
}

.mainimage{
    margin-left: 18.4%;
    width: 63.2%;
    height: 450px;
    object-position: 90% 50%;
    object-fit:none;
}
figure {
    height: 486px;
    display: flex;
    flex-flow:column;
    text-align: center;
    padding: 5px;
    margin: auto;
}

figure div{
    color: black;
    background-color: burlywood;
    margin-left: 18.4%;
    margin-right: 18.4%;
}

figcaption {   
    position: relative;
    color: rgb(255, 255, 255);
    top: -400px;   
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article{
    margin-left: 18.7%;
}

article img{
        width: 24.08%;
        height: 225px;
        object-position: 90% 50%;
        padding-right: 2.1%;
}

article h3{
    padding-right: 2.1%;
    text-align: center;
    width: 24.08%;
    float: left;

}

article p{
    max-width: 24%;
    float: left ;
    padding-right: 2.1%;
    text-align: center;
}
article a{
    max-width: 24%;
    padding: 0%;
    padding: 9%;
    color: black;
}

article br{
    clear: left;
}

.bckgrnd{
    margin-top: 4.3%;
    width: 62.7%;
    margin-left: 18.7%;
    background-image: url("img/footerback_compressed.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
}

footer {
    background-color: black;
    opacity: 0.75;
    color: white;
    padding-left: 5.1%;
    padding-bottom: 15%; 

}

footer h2{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}

footer a img{
    height: 20px;
    width: 20px;
    padding-left: 7%;
}

footer div span{
    display: inline-block;
    text-align: left;
    width: 20%;
}

footer div span{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

footer a{
    color: rgb(255, 255, 255);
}

footer a:hover{
    color: rgb(255, 255, 255);
}

.bottom{
    padding-top: 10%;
    text-align: center;
}

.end{
float: right;}



